@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  max-width: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.bg {
  background: linear-gradient(to left top, #0940b0, #69b8f0da 90%);
}
